@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "globalCss";
.content {
    max-width: 1280px;
    margin: 0 auto;
}

.side {
    width: 296px;
    background: $teal;
    position: fixed;
}

.logo {
    a {
        margin-top: 32px;
        margin-left: 32px;
        width: 153px;
        height: 40px;
        background: url("../images/logo-ANSWER.png");
        display: block;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
}

.sidebar {
    padding-left: 0px;
    margin-bottom: 363px;
    li {
        margin-bottom: 29px;
    }
    a {
        font-size: 1rem;
        line-height: 1.4;
        padding-left: 32px;
        color: $black;
        &:hover {
            border-left: 3px solid $darkgreen;
            color: $darkgreen;
        }
        span {
            margin-right: 16px;
            display: inline-block;
            width: 24px;
            height: 24px;
        }
        p {
            margin-bottom: 0px;
        }
    }
}

.media {
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.main {
    margin-left: 296px;
}

.courses {
    h2 {
        font-size: 2rem;
        line-height: 1.1;
    }
}

.dropdown {
    i {
        margin-top: 5px;
        margin-left: 12px;
        height: 24px;
        color: $darkgreen;
    }
}

.searchTool {
    span {
        margin-left: 26px;
        display: inline-block;
    }
}

.remark-comm {
    p {
        font-size: 0.75rem;
        line-height: 1.1;
    }
}

.board-l-side {
    p {
        font-size: 0.75rem;
        line-height: 1.1;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 1rem;
        line-height: 1.1;
    }
    h2 {
        font-size: 0.75rem;
        line-height: 1.1;
    }
}

.message-board {
    padding-top: 12px;
    padding-bottom: 0;
    background: $teal;
    h3 {
        font-size: 0.75rem;
        line-height: 1.1;
    }
    span {
        font-size: 1rem;
        line-height: 1.4;
    }
    i {
        padding-top: 12px;
    }
}

.respond-board {
    padding-bottom: 16.5px;
    h5 {
        margin-bottom: 0px;
    }
    p {
        font-size: 0.75rem;
        line-height: 1.4;
        margin-bottom: 16px;
    }
    .messageBtn {
        border: 1px solid $lightgreen;
        img {
            display: inline-block;
            margin-right: 8px;
            width: 24px;
            height: 24px;
        }
    }
}

.respond-board-reply {
    h5 {
        margin-bottom: 0px;
    }
    p {
        font-size: 0.75rem;
        line-height: 1.4;
        margin-bottom: 16px;
    }
}

.editForReply {
    span {
        margin-left: 24px;
    }
}

.reply-choice {
    font-size: 0.75rem;
    line-height: 1.4;
}

.frontBackPages {
    margin-top: 7px;
}

.replyBtn {
    .markBtn {
        margin-right: 16px;
        padding: 8px 32px;
        color: $darkgreen;
        border: 1px solid $darkgreen;
    }
    .replyForBtn {
        color: $white;
        background: $darkgreen;
        padding: 8px 32px;
        border: 1px solid $lightgreen;
    }
    a {
        display: inline-block;
        &:hover {
            background: $teal;
            color: $lightgreen;
            opacity: 0.4;
        }
    }
}

@keyframes scaleUp {
    0% {
        transform: scaleX(0)
    }
    100% {
        transform: scaleX(1)
    }
}

@keyframes scaleDown {
    0% {
        transform: scaleX(1)
    }
    50% {
        transform: scaleX(0)
    }
    100% {
        opacity: 0;
    }
}

.writeBoard {
    display: none;
    position: absolute;
    bottom: 0;
    right: 15px;
    left: 0;
    top: 46%;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    transform: translateZ;
    .card-header {
        background: $teal;
        padding-bottom: 10px;
    }
    ul {
        display: flex;
        padding-left: 5px;
        margin-bottom: 0px;
        li {
            margin-right: 24px;
            &:nth-child(1) {
                margin-right: 8px;
            }
            &:nth-child(3) {
                font-weight: 900;
            }
            &:nth-child(4) {
                font-family: Verdana;
                font-style: italic;
                font-weight: 900;
            }
        }
    }
    .card-body {
        p {
            color: #00000062;
            margin-bottom: 200px;
        }
        .cancelBtn {
            margin-right: 16px;
            padding: 8px 32px;
            color: $darkgreen;
            border: 1px solid $darkgreen;
        }
        .replyActiveBtn {
            color: $white;
            background: $darkgreen;
            padding: 8px 32px;
            border: 1px solid $lightgreen;
        }
        a {
            display: inline-block;
            &:hover {
                background: $teal;
                color: $lightgreen;
                opacity: 0.4;
            }
        }
    }
}

.moveUp {
    animation-name: scaleUp;
}

.moveDown {
    animation-name: scaleDown;
}